// Variables

// Colors
$brand-primary:         #27ae60;

$grid-gutter-widths: (
  xs: 40px,
  md: 30px,
  lg: 30px,
  xl: 30px
  );

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1200px,
  // Extra large screen / wide desktop
  xl: 1700px
  );

$container-max-widths: (
  xs: 740px,
  sm: 820px,
  md: 1080px,
  lg: 1480px,
  //lg: 1640px,
  xl: 1620px,
  ) !default;

$font-family-material: 'Material-Design-Iconic-Font';

// Hamburger
$hamburger-layer-color: currentColor;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-border-radius: 0;

// Colors
// $color-green: #00d893;
// $color-secondary: #6889ea;
$color-secondary-contrast: white;

$color-green: #00A873; // wersja najbardziej czytelna
$color-secondary: #0071EB; // wersja najbardziej czytelna
$color-tertiary: #005E75; // wersja najbardziej czytelna

$color-palette: (
  #6889ea,
  #00c3f4,
  #00d8cb,
  #00d893,
  );

$color-palette: (
  $color-secondary,
  #00c3f4,
  #00d8cb,
  $color-green,
  );

// $color-accent: #45e0d6;
$color-accent: #00D8C1;

$color-text__heading: #2a3f4c;
// $color-text__content: #808da2;
$color-text__content: #2A2D32;

// $color-text__heading--course-details: #8db7b7;
$color-text__heading--course-details: #8db7b7;
// $color-text__label: #8db7b7;
$color-text__label: #507C7C;
// $color-text__heading--course-details--accent: #00d893;
$color-text__heading--course-details--accent: $color-green;

// Skew
$global-skew: 4.35;